<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pokemon  %></title>

<!-- there is a way to make this one line work but for now i am writing in seperate tag -->
    <link rel="stylesheet" href="styles.css">

    <style>
        body{
        background-color: <%= bgcolor %>;
        }
    </style>
    
</head>

<body>
    <div id="transition"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script>
        var animation = bodymovin.loadAnimation({
            container: document.getElementById("transition"),
            path: 'animation/transition.json',
            render: 'svg',
            loop: false,
            autoplay: true,
            name: "trans"           
        });
        animation.setDirection(-1);
    </script>
    <div class="head" id="topDiv">
    <h1> Know all about <%= pokemon  %> here. </h1>
    </div>
    <div class="content" id="bottomDiv">
        <div class="left">
            <h2>Pokedex #<%=id%></h2>
            <!-- can i add an AI generated image here -->
            <!-- <img src="dsf.png"/>  -->
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
            <dotlottie-player src="https://lottie.host/9ea9d564-d16e-414e-89a7-bcd541df5620/EhXOtyiILh.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay class="lottiePlayer"></dotlottie-player>
        </div>
        <div class="right">
            <h2><%= pokemon  %></h2>
            <div class="main-details">
                <h1>Types</h1>
                <% type.forEach(function (item, index) { %>     
                    <button style="background-color: <%= mapTypeToColor(item["type"]["name"]) %>" ><%= item["type"]["name"] %> </button>
                <% })%>                
            </div>
            <div class="main-details">
                <h1>Games were you can find <%= pokemon %> : </h1>
                <% ingames.forEach(function (item, index) { %>     
                    <pre><%= item["version"]["name"] %> </pre>
                <% })%>                
            </div>
        </div>
    </div>

</body>
</html>